*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0,0.73)) , 
    url(https://wallpaperaccess.com/full/187161.jpg) ;
}
section{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    background-color: whitesmoke;
    height: 54vh;
    width: 20vw;
    border-radius: 16px;
    
}

.head{
    background-color: #0099cc;
    height: 14%;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: grid;
    place-content: center;
    font-family: 'Merriweather', serif;
}

.form{
    height: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin-top: 32px;
    background-color: transparent;
    border: 0;
    padding-left: 10px;
    height: 32px;
    width: 240px;
    font-size: 15px;
    border-bottom: 2px solid #0099cc;
}

input:focus{
    outline: none;
}

p{
    padding-left: 40px;
    font-size: 15px;
    color: #0099cc;
}
p:hover{
    padding-left: 40px;
    font-size: 15px;
    color: #4bc0ee;
    cursor: pointer;
}

.btn{
    height: 20%;
    display: flex;
    place-content: center;
}

button{
    border: 0;
    background-color: #0099cc;
    color: white;
    margin-top: 14px;
    margin-top: 14px;
    width: 80%;
    height: 50%;
    border-radius: 12px;
    font-size: 15px;
}
button:hover{
    background-color: #0dbffa;
    cursor: pointer
}